.custom-ui-panel {
  background-color: #333333;
  color: #ffffff;
  height: 100vh;
  padding: 0.5vh 1vw;
  text-align: left;
  font-family: system-ui;
  white-space:inherit;
  margin-top:1vh;
  margin-bottom:1vh;
}