.custom-ui-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    height: 4vh;
    width: 100%;
}

.slider {
    appearance: none;
    height: 10%;
    width: 12vw;
    background: #d3d3d3;
    /* Remove outline */
    opacity: 0.7;
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15%;
    height: 3vh;
    background: #000000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15%;
    height: 3vh;
    background: #000000;
    cursor: pointer;
}