.custom-ui-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.switch {
    position: relative;
    display: inline-block;
    width: 15%;
    height: 4vh;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-switch:before {
    position: absolute;
    content: "";
    height: 75%;
    width: 50%;
    left: 5%;
    top: 12.5%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-switch {
    background-color: #0092cc;
}

input:focus+.slider-switch {
    box-shadow: 0 0 1px #0092cc;
}

input:checked+.slider-switch:before {
    -webkit-transform: translateX(75%);
    -ms-transform: translateX(75%);
    transform: translateX(75%);
}