
.ui-control-panel {
  flex: 0 0 15vw; /* Fixed width for the UI panel */
  display: flex;
  flex-direction: column;
  background-color: #646464; 
  padding-right: 1%;
  padding-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}